.page-style {
    background-color: #fff;
}
.selected-img {
	width: 29%;
    float: left;
    border: 1px solid ghostwhite;
}
.form_bg input.ng-invalid.ng-dirty {
	border-color:red;
}
#map {
  width: 500px;
  height: 400px;
  margin-top: 10px;
}