<!DOCTYPE html>
<html lang="en" ng-app="searchApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instant Search</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="dist/font-awesome-4.6.3/css/font-awesome.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/page.css">
</head>
<body ng-controller="searchCtrl" class='container-fluid' ng-init="getFilteredData()">
<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
            </ul>
        	<ul class="nav navbar-nav navbar-right">
                <li><a href="#login">Login</a></li>
            </ul>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse search-category">
            <ul class="nav navbar-nav">
                <li ng-click="switchSearchType('all')">
                    <a href="">BRANDS</a>
                </li>
                <li ng-click="switchSearchType('bank')">
                    <a href="">SKINCARE</a>
                </li>
                <li ng-click="switchSearchType('auto')">
                    <a href="">MAKEUP</a>
                </li>
                <li ng-click="switchSearchType('property')">
                    <a href="">HAIR</a>
                </li>
                <li ng-click="switchSearchType('insurance')">
                    <a href="">BOTH & BODY</a>
                </li>
				<li ng-click="switchSearchType('insurance')"><a href="">MEN
						</a></li>
				<li ng-click="switchSearchType('insurance')"><a href="">GIFTS
						</a></li>
			</ul>
        </div>
    </nav>
    <div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Login\Register</h4>
            </div>
            <div class="modal-body">
				<p>Register or Login before you kick start your shopping</p>
                <form>
                    <div class="form-group">
                    	<a href="#login"><Button class="form-control">Login</Button></a>
                    </div>
                    <div class="form-group">
                        <a href="#register"><Button class="form-control">Register</Button></a>
                    </div>
                    <a data-dismiss="modal" href="#"><button type="submit" class="btn btn-primary">skip</button></a>
                </form>
            </div>
        </div>
    </div>
</div>
    <!-- <div ng-include='partials/onLoadModal.html'></div> -->
    <div ng-view class="main-view"></div>

    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC7b2yhtINZI3NyqYSXVCM6yFKgdwL031g&sensor=false" type="text/javascript"></script>
	<!-- <script src="http://maps.google.com/maps/api/js?sensor=true"></script> -->
    <script src="scripts/search.js" type="application/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="dist/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="directives/searchresults.js"></script>
    <script src="scripts/searchService.js"></script>
    <script src="directives/optional-filter.js"></script>
    <script>
/*     $(document).ready(function(){
        $("#myModal").modal('show');
    }); */
    </script>
</body>
</html>